APP_NAME=HANDS-ON-RAG-GROQ
PROJECT_NAME=HANDS-ON-RAG-GROQ
EMBEDDING_MODEL=all-MiniLM-L6-v2
LLM_MODEL=llama3-8b-8192
CHROMA_PATH=/app/data/chroma_db
CHUNK_SIZE=1000
CHUNK_OVERLAP=200
\GROQ_API_KEY=your_api_key
DEBUG=False